<header id="masthead">
    <div class="bs-container">
        <h1><a href="/blog">Ethernet Bucket</a></h1>
        <nav>
            <ul>
                <li><strong>Articles</strong>
                    <ul>
                        <li><a href="/blog/category/html">HTML</a>
                        </li>
                        <li> <a href="/blog/category/css">CSS</a>
                        </li>
                        <li> <a href="/blog/category/javascript">JavaScript</a>
                        </li>
                        <li> <a href="/blog/category/node">NodeJS</a>
                        </li>
                    </ul>
                </li>
                <li><strong>Project</strong>
                    <ul>
                        <li> <a href="/blog/aboutme">Me</a>
                        </li>
                        <li> <a href="/">Demos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>