// Blog excerpts on the home page
.blog-section a {
  color: #222;
  text-decoration: underline;
  transition: color 0.25s, text-decoration 0.25s;
}

.blog-section a:hover, .blog-section a:focus {
  color: var(--accent-orange);
  text-decoration: underline;
}


// Blog pages ("post" layout)


// Blog page link color override
article > .container a,
article > .container a:visited {
  color: #222;
  text-decoration: underline;
  transition: color 0.25s, text-decoration 0.25s;
}

article > .container a:hover,
article > .container a:focus {
  color: var(--accent-orange);
  text-decoration: underline;
}

body.post-layout {

  font-family: 'Open Sans', Calibri, sans-serif;
  font-weight: normal;
  font-size: 1.0625em;
  line-height: 1.411764705882353em;
  background-color: #fff;

  a {
    color: #222;
    text-decoration: none;
    transition: color 0.25s;
    border-bottom: 1px solid #222;
  }

  a:hover, a:focus {
    color: var(--accent-orange);
    text-decoration: none;
    border-bottom: 1px solid var(--accent-orange);
  }

  h1 {
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    font-size: 1.5em;
    text-align: center;
  }
  
  h2 {
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    font-size: 1.25em;
  }
  
  h3 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.15em;
    
  }

  h4 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-size: 1.05em;
  }

  h5 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-size: 1.05em;
  }

  h6 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-size: 1.05em;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }

  article li {
    list-style: disc;
    margin-left: 1em;
  }

  p,
  nav>ul>li,
  article div,
  article li {
    margin-bottom: .68em;
  }

  pre {
    white-space: pre-wrap;
    display: inline-block;
  }

  strong,
  .codebox header {
    background-color: #000;
    color: #fff;
    font-size: 0.7647058823529411em;
    padding: 4px;
  }

  /* article strong {
    margin-right: 14px;
  } */

  .codebox,
  .codebox header,
  strong,
  pre {
    min-width: 10em;
    width: 100%;
  }

  .codebox li {
    line-height: 1;
  }

  nav strong {
    padding: 2px 12px 2px 12px;
  }

  .codebox header {
    padding: 2px 8px 2px 12px;
  }

  nav a,
  article a,
  footer a {
    border-bottom: 0.065em solid #171717;
  }

  a {
    color: #171717;
    text-decoration: none;
  }

  #masthead h1 {
    letter-spacing: .064em;
    font-weight: normal !important;
  }

  nav a:hover,
  article a:hover,
  footer a:hover {
    color: #E84C38;
    border-bottom: 0.065em solid #E84C38;
  }

  ::selection {
    background-color: #E84C38;
    color: #fff;
  }

  .linenums {
    padding-left: 20px;
  }

  footer,
  #commentstart header {
    text-align: center;
  }

  #commentstart,
  footer {
    border-top: 0.065em solid #171717;
    margin-top: 1.7em;
    padding-top: 1.7em;
  }

  input[type="text"],
  textarea {
    display: block;
  }

  #comments li {
    list-style: none;
  }

  #comments li:nth-child(even) {
    margin-left: 2em;
  }

  #comments header {
    margin-bottom: 1.7em;
  }

  .websymbols {
    font-family: WebSymbolsRegular;
  }

  .skillstable {
    font-size: .8em;
    border-collapse: separate;
    border: 1px dashed;
    padding: 12px;
  }

  .skillstable th,
  .skillstable td {
    border-bottom: 1px dashed;
    padding: 4px;
  }

  .skillstable tr:last-child>td {
    border-bottom: none;
  }

  .skillstable tr:hover {
    background-color: #bbb;
  }

  .readmore {
    border-bottom: none;
  }

  /*==== media queries =====*/
  // @media screen and (max-width: 29.9999995em) {
  //   article {
  //     margin: 0 2%;
  //   }
  // }

  // @media screen and (min-width: 30em) {
  //   body {
  //     font-size: 1.125em;
  //   }

  //   article p,
  //   article li {
  //     font-size: 1em
  //   }
  // }

  // @media screen and (min-width: 30em) {
  //   nav li {
  //     display: inline;
  //   }

  //   h1 {
  //     font-size: 1.2em
  //   }

  //   h3 {
  //     text-align: left;
  //   }
  // }

  // @media screen and (min-width: 37.5em) {
  //   h1 {
  //     font-size: 1.6em
  //   }


  // }

  // @media screen and (min-width: 65em) {
  //   h1 {
  //     font-size: 2.4em;
  //     text-align: left;
  //     padding-top: 1.4em;
  //     float: right;
  //   }

  //   nav {
  //     padding-top: 1.5em
  //   }

  //   h2 {
  //     font-size: 1.6em
  //   }

  //   #nametag {
  //     position: relative;
  //     width: 16em;
  //     left: 16em;
  //     top: 12em;
  //   }
  // }

  // @media print {
  //   h1 {
  //     font-size: 2.4em;
  //     text-align: left;
  //     padding-top: 1.4em;
  //     float: right;
  //   }

  //   nav {
  //     padding-top: .5em
  //   }

  //   h2 {
  //     font-size: 1.6em
  //   }

  //   #nametag {
  //     position: relative;
  //     width: 16em;
  //     left: 16em;
  //     top: 12em;
  //   }
  // }
}