@font-face{ 
	font-family: "WebSymbolsRegular";
    src: local(WebSymbolsRegular), url("/resources/fonts/websymbols-regular-webfont.ttf");
	src: url("/resources/fonts/websymbols-regular-webfont.eot");
	src: url("/resources/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
	     url("/resources/fonts/websymbols-regular-webfont.woff") format("woff"),
	     url("/resources/fonts/websymbols-regular-webfont.ttf") format("truetype"),
	     url("/resources/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
}
/*==== reset.css =====*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
* {margin:0;}
/*====== clearfix ======*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear:both;
    height:0;
}
/*====== cms.css ======*/
.left {
    float:left;
}
.right {
    float:right;
}
html, body {
    height: 100%;
    
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px;
    background-color: #eee;
}
.wrapper, .footer {
    position:relative;
}
.footer, .box, footer {
    height: 250px; 
}
footer {
    height:250px;
}
header, footer {
    background-color:rgb(23, 26, 109);

}
header p, header a {
    color: #ffffff;
    padding:12px 0 12px 8px;
}
footer p{
    color: #ffffff;
    padding: 4px 0 4px 4px;
}
header button{
    margin: 4px;
}
.button {
    min-width: 70px;
    height:32px;
    color:#fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px #333;
    background: #939393;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#939393), color-stop(0.5, #939393), color-stop(0.52, #5b5b5b), to(#939393));
background: -webkit-linear-gradient(#939393 0%, #939393 50%, #5b5b5b 52%, #939393 100%);
background: -moz-linear-gradient(#939393 0%, #939393 50%, #5b5b5b 52%, #939393 100%);
background: -o-linear-gradient(#939393 0%, #939393 50%, #5b5b5b 52%, #939393 100%);
background: linear-gradient(#939393 0%, #939393 50%, #5b5b5b 52%, #939393 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#939393',GradientType=0 );
    border:0px solid #999;
    box-shadow: inset 0 0 8px #000;
    border-radius: 4px;
}
.button:hover{
    box-shadow: inset 0 0 14px #000;
}
.deletebutton {

}
.itemholder {
	background-color: #dddddd;
	margin: 4px;
	padding: 4px;
}
.dropspace {
	background-color: #9999ff;
	height:12px;
	font-size: 12px;
}
#optionsdiv {
    z-index: 1;
    width:312px;
    background-color:#ddd;
    height: 600px;
    overflow:hidden;
    position:absolute;
    top:120px;
    box-shadow: 3px 3px 6px 0px #333;
    padding:4px;
}
.hide #optionsdiv{
    left:-300px;
}
#optionstable td{
    vertical-align:top;
}
#hidefiles:after{
    content:"Hide Files";
}
.hide #hidefiles:after{
    content:"Show Files";
}
#hidefiles {
    width: 84px;
}
#draftwrapper{
    width:1200px;
    margin:20px auto 0 auto;

}
#tagspanel{
    padding:25px 0 0 250px;
}
.col_1, .col_3 {
    width:246px;
}
.col_2 {
    width:700px;
}
.col {
    float:left;
    background-color: #bbb;
    box-shadow: 3px 3px 6px 0px #333;
    margin-right:4px;
}
.col:last-child {
    margin-right:0;
}
textarea, p {
    font-family: 'Arial','Helvetica',sans-serif;
    font-size: 100%;
}
.codeedit {
    font-family: "Courier New", Courier, monospace !important;
    font-size: .8em;
}
#optionscolumn>div, #titlecolumn>div{
    padding:4px;
}
#optionsdivlabel{
    -webkit-transform:rotate(-90deg);
    position:relative;
    left:150px;
    color:#fff;
}
#optionsdivlabel:hover{
    color:rgb(23, 26, 109);
}
#filelist {
    width:200px;
}
.settingspanel{
    padding:12px;
}
#servervardiv td {
    padding:12px;
}
.imagediv {
    background-color: #fff;
    margin: 4px;
    padding: 12px;
}
.inline {
    display: inline;
}
.imgfeedback {
    padding-left: 24px;
    color: #000;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
.libhide {
   font-size: 1.6em;
}
.libhide:after{
   content:"{";
}
.librarydiv {
   overflow:hidden;
}
.librarydivhide {
   height:15px;
}
.control {
   font-family:WebSymbolsRegular;
}
#controlsdiv button {
   font-size:1.42em;
}
#loginpane {
    border-radius:10px;
   width: 180px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}
#draftcolumn ul{
    padding:40px;
    list-style-type: disc;
}
#live_edit_ace_editor {
    width:680px;
    height:90%;
}
#edit_space {
    width:700px;
    min-height: 400px;
    padding:10px;
}