/*==== comments.css =====*/


#commentstart {
    border-top: 0.06470588235294118em solid #171717;
    margin-top: 1.7em;
    padding-top: 1.7em;
}
input[type="text"], textarea {
    display: block;
}
#comments li {
    list-style: none;
}
#comments li:nth-child(even) {
    margin-left: 2em;
}
#comments header {
    margin-bottom: 1.7em;
0