/*===QuestToCodeGlobal.css edited 2/19=== */

html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{min-height:100%;font-size:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,audio,canvas,video{display:block;}
@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
@font-face {
    font-family: 'neoretrodrawregular';
    src: url('../fonts/neo/neord___-webfont.eot');
    src: url('../fonts/neo/neord___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neo/neord___-webfont.woff') format('woff'),
         url('../fonts/neo/neord___-webfont.ttf') format('truetype'),
         url('../fonts/neo/neord___-webfont.svg#neoretrodrawregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
::selection {
	background: #72587F;
	color: #fff;
}
.hirecontainer {
	background-color: red;
	position: fixed;
	top:10px;
	left:10px;
	width:106px;
	height: 106px;
	border-radius: 53px;
	box-shadow: 0px 2px 3px 2px #222;
	-moz-box-shadow:0px 2px 3px 2px #222;
	-webkit-box-shadow:0px 2px 3px 2px #222;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.hire {
	margin: 0px;
	background-color: #72587f;
	position: relative;
	top: 3px;
	left: 3px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
	
}
.hire p {
	position: absolute;
	top: -30px;
	font-family: 'neoretrodrawregular';
	font-size: 44px;
	color: #fff;
	text-align: center;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	text-shadow: 0px 0px 2px #000;
}
.hirecontainer:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
	  transform: scale(1.1);
	  box-shadow: 4px 6px 8px 4px #222;
	-moz-box-shadow:4px 6px 8px 4px #222;
	-webkit-box-shadow:4px 6px 8px 4px #222;
}
.hire:hover {
	-webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
	  transform: rotate(360deg);
}
.float {
	float: left;
}
.skillstable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 13px;
	empty-cells: hide;
}
.skillstable th {
	color: #2288bb;
	text-transform: uppercase;
	border-bottom: 2px solid #6ea1bb;
	border-top: 1px solid #666;
}
.skillstable tr:hover {
	background-color: #eeeeee;
}
.staricon {
	font-family: 'WebSymbolsRegular';
	color: #6ea1bb;
}
html {
    height:100%;
}
#blue_box {
	background-color: #6ea1bb;
	width: 920px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top:10px;
	height: 92px;
	padding-top: 30px;
	box-shadow: 0px 0px 8px 2px #666;
	-moz-box-shadow:0px 0px 8px 2px #666;
	-webkit-box-shadow:0px 0px 8px 2px #666;
	}
#main_title {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 40px;
	color: rgba(255,255,255,1);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-weight: 100;
}


#nav	{
	margin-left: 55px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	color: rgba(0,0,0,1);
	float: left;
	width: 200px;
	margin-top: 50px;
}

body {
	padding:0px;
	background-image: url("../Images/px_by_Gre3g.png");
	margin: 0px;
    height: 100%;
}
#grey_wrapper {
	background-color: #dddddd;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom:12px;
	overflow: hidden;
	min-height:98%;
	box-shadow: 0px 0px 20px 6px #000;
	-moz-box-shadow:0px 0px 20px 6px #000;
	-webkit-box-shadow:0px 0px 20px 6px #000;
}
.content h1 {
	color: #2288bb;
	font-weight: 100;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content h2 {
	color: #2288bb;
	font-weight: 100;
	font-size:18px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content p{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 15px;
}
.content li{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 15px;
}
.content a{
	text-decoration: underline;
}
.date {
	font-family: Courier;
	color: rgba(255,255,255,1);
	background-color: #6ea1bb;
	font-size: 14px;
	padding: 3px;
}

.content_box {
	float: right;
	width: 680px;
	margin-right: 55px;
	margin-bottom: 24px;
}
#link_table {
	width:320px;
	margin-top: 24px;
	margin-bottom: 20px;
	margin-left: 300px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	font-weight:100;
	color: #999999;
	text-align:center;
	font-style: italic;
	line-height: 110%;
}
#link_table a {
	color:#999999;
}
.navTableHead  {
	text-decoration:underline;
}
#footer {
	padding:0;
	float: right;
	width:920px;
	margin-left:40px;
	margin-right:40px;
	text-align:center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}
#footer p {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	font-weight:100;
	color: #999999;
}
blockquote, cite {
	color: #666666
}
#contact_form_table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 13px;
}
code, .error, #comments li, .codebox header, #commentstart header, .success {
	font-family: "Courier New", Courier, monospace !important;
	font-size: 13px;
}
pre {
	margin-top: 0;
	width: 620px;
	padding:2px;
}
pre, .codebox header, #comments, #commentstart header {
	box-shadow: 4px 4px #999;
	-moz-box-shadow: 4px 4px #999;
	-webkit-box-shadow: 4px 4px #999;
}
.codebox header, #commentstart header {
	margin:0;
	padding: 0 0 0 12px;
	width:612px;
	background-color: #72587F;
	color: #fff;
	font-size: 16px;
}
#comments {
	margin-top: 0;
	width: 540px;
	padding:2px 40px 2px 40px;
	background-color: #000;
}
#comments ul {
	margin:0;padding:0;border:0;
}
#comments li {
	list-style-type: none;
	color: #fff;
}
#comments li:nth-child(even) {
	display: block;
	color: #FACD22;
	margin-bottom: 16px;
}
.com_name  {
	color: #666666;
}
.shout  {
    color: #ffffff;
}
form label {
    color: #fff;
}
.feed_desc {
	list-style-type: none;
}
input:nth-child(1),input:nth-child(2), textarea {
	background-color: #dddddd;
	display: block;
	width: 100%;
}
#comments form {
	width: 50%;
	margin-left: 25%;
}
.error {
	color: #ff1111 !important;
}
.success {
	color: #78a11b !important;
0