@charset "utf-8";
/*----Next 3 are for jQuery, do not touch----*/
@media screen and (min-width: 501px) and (max-width: 3000px) {
.subart p {
	opacity: 0;
	z-index:98;
	color: #fff;
}
.subproj p{
	opacity: 0;
	z-index:98;
	color: #fff;
}
.subtools p{
	opacity: 0;
	z-index:98;
	color: #fff;
}
#nav	{
	margin-left: 4%;
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	color: #fff;
	float: left;
	width: 20%;
	margin-top: 50px;
}
#articles {
	background-color: #6ea1bb;
}
#projects {
	background-color: #666666;
}
#tools {
	background-color: #72587f;
}
#articles, #projects, #tools {
	width: 85%;
	height:40px;
	padding: .2% 2% 0px 15%;
	margin-top:0px;
	z-index: 99;
	
}	
#nav div {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #333;
}
#nav div:last-child {
	border-bottom: none;
}
#nav div:first-child {
	border-top: none;
}

}
@media screen and (min-width: 0px) and (max-width: 500px) {
	#nav {
		position: absolute;
		left: -9999px;
		float: none;
	}
0