---
---
/**
* resume.scss
*/

$left-padding: 32px;

body {
    font-family: 'Open Sans', Calibri, sans-serif;
}

body > header {
    display: none;
}

article {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}

// header image
img {
    width: 100%;
    max-width: 500px;
}

h1 {
    display: none;
    padding-left: $left-padding;

    + ul {
        display: none;
        padding-left: $left-padding;
        list-style-type: none;
    }
}

// Section headings
h2 {
    padding-top: 1.1em;
    padding-bottom: 0.4em;
    text-align: left;

    &:before {
        content: '\2192';
        display: inline-block;
        width: $left-padding;
    }
}

// projects and experience
h3 {
    padding-left: $left-padding;

    // project links
    a {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        font-size: 0.7647058823529411em;
        padding: 4px;
    }
}

// disclaimer
h6 {
    font-size: 60%;
}

// text blocks and lists
p {
  padding-left: $left-padding;
}

li {
    list-style-position: inside;

    ul li {
        padding-bottom: 0.2em;
        padding-left: 0;
        list-style-type: none;

        &:before {
            content: '\21B3';
            margin-right: 4px;
        }
    }
}

@media print {
    a[href]:after {
        content: " (" attr(href) ")";
    }

    h3 a {
        text-decoration: initial;
        background-color: initial;
        color: initial;
        font-size: initial;
        padding: initial;
    }

    img {
        display: none;
    }

    h1, h1 + ul {
        display: block;
    }
}
