<nav class="nav-main">
    <ul class="nav-categories">
        {% for category in site.data.nav %}
        <li class="nav-category-item">
            <strong class="nav-category-title">{{ category.name }}</strong>
            <ul class="nav-category-items">
                {% for item in category.items %}
                <li class="nav-category-item-link">
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>