---
layout: post
---

<h2>Results for {{ page.category }}</h2>
<div>
    {% if site.categories[page.category] %}
        {% assign items = site.categories[page.category] %}
        
        {% for post in items %}

          <p>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </p>
            
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}<b>  [ </b><a href="{{ post.url }}" class="readmore border-0">Read More...</a><b> ]</b></p>
            
        {% endfor %}


    {% else %}
        <p>There are no posts in this category.</p>
    {% endif %}
</div>