---
---

<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">

<head>
    {% include head/meta.html %}
    {% include head/analytics.html %}

    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body class="syntax-monokai font-sans post-layout">

    {% include section/header.html %}

    <article>
        <div class="container">

            <h2>{{ page.title }}</h2>

            {{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
        </div>
    </article>

    {% include section/footer.html %}
</body>

</html>