---
---

<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/resume.css">
    <title>Resume - Ryan Robinson</title>
  </head>

  <body>
      <article>
        {{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
      </article>
  </body>
</html>
