---
layout: page
---

<article>
    <div class="container">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.company }} — {{ page.location }}</h3>
        <p>
            <strong>
                {{ page.start_date | date: "%B %Y" }} to
                {% if page.end_date %}
                {{ page.end_date | date: "%B %Y" }}
                {% else %}
                Present
                {% endif %}
            </strong>
        </p>
        <div class="prose">
            {{ content }}
        </div>
    </div>
</article>